<app-adm-navbar></app-adm-navbar>
<div class="container">  
  <div class="row">
    <div class="col-md-12">
      <br>
      <h3>{{empresa.Nome}}</h3>
      <hr>
      <div class="space-between">
        <h4>Usuários {{empresa.Nome}}</h4>
        <a class="btn btn-primary mb-5" [routerLink]="['/admin/empresa/usuario/cadastro']" [queryParams]="{idEmpresa: empresa.IdEmpresa}">Novo usuário</a>
      </div>      
    </div>
    <div class="col-md-12">
      <nav aria-label="paginação">
        <ul class="pagination">
            <li class="page-item" >
            <a *ngIf="pg_preview" class="page-link" (click)="Paginacao_Preview()" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            <span class="page-link disabled" *ngIf="!pg_preview">&laquo;</span>
            </li>
            <li [class]="Paginacao_ClassLinkPagination(p)" *ngFor="let p of pg_paginacao" >
                <span class="page-link" *ngIf="p == pg_pagina">{{p}}</span>
                <a *ngIf="p != pg_pagina" class="page-link" (click)="Paginacao_Click(p)">{{p}}</a>
            </li>
            <li class="page-item" >
            <a *ngIf="pg_next" class="page-link" (click)="Paginacao_Next()" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            <span class="page-link disabled" *ngIf="!pg_next">&raquo;</span>
            </li>
        </ul>
    </nav>
    </div>
    <div class="col-md-12">      
      <table class="table">
        <thead>
          <th>Nome</th>
          <th>Login</th>
          <th width="230px"></th>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios">
            <td>{{u.Nome}}</td>
            <td>{{u.Login}}</td>
            <td>
              <a class="btn btn-warning" [routerLink]="['/admin/empresa/usuario/cadastro']" [queryParams]="{idUsuario: u.IdUsuario, idEmpresa: u.IdEmpresa}">Editar/visualizar</a>
              <button class="btn btn-danger" (click)="OpenModalExcluirUsuario(u)">
                excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-confirmacao msg="Deseja realmente excluir?" name="modalExcluirUsuarioConfirme" (sendResultado)="RespostaModalExcluirUsuario($event)"></app-modal-confirmacao>